.note{
	display: block;
	margin: 1rem;
	padding: 0 1rem;
	max-width: 365px;
	width: 365px;
	height: 175px;
}
.blue-note{
	background-color: #EBF4FF;
}
.yellow-note{
	background-color: #FFFDEB;
}

.left-note{
	margin-left: 0;
}
.right-note{
	margin-right: 0;
}