nav{
	display: flex;
	height: 20%;
	justify-content: center;
	ul{
		margin: 0;
		padding: 0;
		li{
			display: inline;
			margin: 0 10px;
			:hover{
				color: #D70030;
			}
			a{
				text-decoration: none;
				font-size: 20px;
				color: #000;
			}
		}
	}
}