body {
  margin: 0;
}

header {
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.5rem 1rem;
  height: 720px;
}
header .top {
  display: flex;
}
header .top .component {
  width: 100%;
}
header .top .component .social-networks {
  height: 70%;
  text-align: right;
}
header .top .component .social-networks a {
  font-size: 20px;
  color: #393939;
}
header .top .component .social-networks a div {
  display: inline-flex;
  background-color: #FFF;
  border-radius: 25px;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}
header .bottom {
  padding: 1rem;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .bottom h1, header .bottom h3 {
  display: flex;
  color: #FFF;
}
header .bottom div {
  max-width: 80%;
}

@media (max-width: 1200px) {
  header .social-networks, header nav {
    display: none !important;
  }
  header .logo img {
    width: 175px;
  }
  header .component {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }
  header .view-nav-mobile {
    display: inline-block !important;
    justify-content: end;
  }
  header .view-nav-mobile a {
    color: #FFF;
    font-size: 50px;
  }
  header h1 {
    font-size: calc(1.5em + 1vw);
    text-align: center;
  }
  header h3 {
    font-size: calc(.5em + 1vw);
  }
  header nav {
    flex-direction: column;
  }
}
.generic-1 {
  display: flex;
}

@media (max-width: 1199px) {
  .generic-1 {
    flex-direction: column;
  }
}
.generic-2 .title {
  margin: 0 1rem;
}
.generic-2 .title .center-triangle {
  display: flex;
  align-items: center;
}
.generic-2 .title .triangle {
  width: 0;
  height: 0;
  border-top: 20px solid #A8D4F2;
  border-right: 40px solid transparent;
  margin-right: 1rem;
}
.generic-2 .title, .generic-2 .content {
  display: flex;
}

@media (max-width: 1199px) {
  .generic-2 .content {
    flex-direction: column;
  }
}
.events {
  padding: 1rem 0;
  background-color: #F5F5F5;
}
.events .title {
  border-bottom: #363636 3px solid;
  display: inline-flex;
}
.events .elements {
  padding: 1rem 0;
  overflow: auto;
  white-space: nowrap;
  background-color: #F5F5F5;
}
.events .elements .event {
  display: inline-block;
}

footer {
  background-color: #393939;
  display: flex;
  align-items: center;
  padding: 1rem;
}
footer .left, footer .right {
  width: 25%;
}
footer .left .social-networks {
  text-align: left;
  display: flex;
}
footer .left .social-networks a {
  color: #393939;
}
footer .left .social-networks a div {
  display: flex;
  background-color: #FFF;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
}
footer .left a {
  text-decoration: none;
}
footer .left a .link {
  margin: 1rem 0;
  color: #fff;
  text-decoration: none;
}
footer .left a .link svg {
  margin: 0 0.5rem;
}
footer .center {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
footer .center h3 {
  font-weight: lighter;
  margin: 0;
}
footer .right {
  text-align: right;
}
footer .right h6 {
  margin: 0.5rem 0;
  font-size: 18px;
}
footer .right h6, footer .right a {
  color: #fff;
}
footer .right div {
  text-align: right;
  margin: 0.5rem 0;
}
footer .right a {
  font-size: 16px;
}

@media (max-width: 1200px) {
  footer {
    flex-direction: column;
  }
  footer .social-networks {
    display: flex !important;
  }
  footer div {
    justify-content: center;
    text-align: center !important;
  }
  footer .left, footer .right {
    width: 100% !important;
    margin: 1rem 0;
  }
  footer .right {
    order: 1;
  }
  footer .left {
    order: 2;
  }
  footer .center {
    display: none;
  }
}
header nav {
  display: flex;
  height: 20%;
  justify-content: center;
}
header nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: end;
}
header nav ul li {
  display: inline;
  margin: 0 10px;
}
header nav ul li :hover {
  color: #D70030;
}
header nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #FFF;
}
header #nav-mobile {
  background-color: #393939;
  flex-direction: column;
}
header #nav-mobile div {
  height: 50px;
  display: block;
  text-align: right;
  margin: 1rem;
}
header #nav-mobile div a {
  color: #FFF;
  font-size: 30px;
}
header #nav-mobile ul {
  list-style: none;
}
header #nav-mobile ul a {
  color: #FFF;
  text-decoration: none;
  font-size: 25px;
}
header #nav-mobile ul a li {
  margin: 2.5rem 0;
}

#navbar-desktop {
  position: fixed;
  width: 100%;
  background-color: #363636;
  color: white;
}
#navbar-desktop a {
  padding: 1rem;
}
#navbar-desktop ul {
  width: 100%;
  justify-content: flex-end;
  list-style: none;
  display: flex;
  align-items: center;
}
#navbar-desktop ul a {
  color: white;
  text-decoration: none;
  padding: 0;
}
#navbar-desktop ul a :hover {
  color: #D70030;
}
#navbar-desktop ul li {
  margin: 0 1rem;
}
#navbar-desktop ul li :hover {
  color: #D70030;
}
#navbar-desktop ul .button {
  display: flex;
  align-items: center;
  background-color: #2374AB;
  margin-right: 1rem;
  height: 50px;
}

.exercise-1, .exercise-2 {
  margin: 1rem;
  display: flex;
  align-items: flex-end;
  height: 400px;
  box-shadow: 2px 2px 2px #999;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
}
.exercise-1 .information, .exercise-2 .information {
  height: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}
.exercise-1 .information h3, .exercise-1 .information p, .exercise-1 .information button, .exercise-2 .information h3, .exercise-2 .information p, .exercise-2 .information button {
  color: #fff;
}
.exercise-1 .information h3, .exercise-1 .information p, .exercise-1 .information button, .exercise-2 .information h3, .exercise-2 .information p, .exercise-2 .information button {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}
.exercise-1 .information h3, .exercise-1 .information button, .exercise-2 .information h3, .exercise-2 .information button {
  margin-top: 1rem;
  margin-bottom: 0;
}
.exercise-1 .information p, .exercise-2 .information p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.exercise-1 .information button, .exercise-2 .information button {
  width: 200px;
  height: 40px;
  font-weight: bold;
  background-color: #2374AB;
  border-radius: 10px;
  border-width: 0;
}

.exercise-1 {
  background-image: url("../img/prueba.png");
}

.exercise-2 {
  background-image: url("../img/exercise-2.png");
}

@media (max-width: 1199px) {
  .exercise-1 h3, .exercise-2 h3 {
    margin-top: 1rem !important;
  }
  .exercise-1 button, .exercise-2 button {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .exercise-1 .information, .exercise-2 .information {
    width: 100%;
  }
}
.event {
  margin: 1rem;
  width: 450px;
  height: 380px;
  border-radius: 10px;
  box-shadow: 0px 2px 0px #999;
  background-color: white;
}
.event .img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 200px;
  display: flex;
  justify-content: end;
  align-items: end;
}
.event .img .tag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 150px;
  background-color: #FF7474;
  color: #fff;
  font-weight: lighter;
  font-size: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.event .information {
  margin: 1rem;
  white-space: normal;
}
.event .information div {
  text-align: right;
}
.event .information div a {
  text-transform: uppercase;
  color: #D50000;
  text-decoration: none;
}

.blog {
  display: flex;
  height: 300px;
  margin: 1rem;
}
.blog div {
  width: 50%;
}
.blog .img {
  background-image: url("../img/blog.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.blog .information {
  margin: 0.5rem 1rem;
}
.blog .information h6 {
  font-size: 14px;
  margin: 0;
  color: #ADADAD;
}
.blog .information p {
  font-size: 18px;
  color: #363636;
}
.blog .information button {
  display: flex;
  padding: 0rem;
  width: 100%;
  background: none;
  border: none;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}
.blog .information button div {
  width: 98%;
}

@media (max-width: 1199px) {
  .blog {
    height: 450px;
    flex-direction: column;
  }
  .blog .img, .blog .information {
    width: 100%;
    height: 50%;
  }
  .blog .information {
    margin: 1rem 0;
  }
  .blog button {
    padding-right: 1rem !important;
  }
}

/*# sourceMappingURL=main.css.map */
