body {
  margin: 0;
}

header {
  margin: 1rem 0;
  width: 100%;
  justify-content: center;
  display: inline-flex;
}

.component {
  margin: 0 1rem;
}

section {
  padding: 1rem;
  margin: 1rem 0;
}

.social-networks {
  height: 80%;
  text-align: right;
  font-size: 40px;
}
.social-networks div {
  display: inline-flex;
  background-color: #2374AB;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}
.social-networks div a {
  font-size: 25px;
  color: #fff;
}

.generic-1 {
  padding: 1rem 0;
}

.events {
  padding: 1rem 0;
  background-color: #F5F5F5;
}
.events .title {
  border-bottom: #363636 3px solid;
  display: inline-flex;
}
.events .elements {
  padding: 1rem 0;
  overflow: auto;
  white-space: nowrap;
  background-color: #F5F5F5;
}
.events .elements .event {
  display: inline-block;
}

footer {
  background-color: #393939;
  display: flex;
  align-items: center;
  padding: 1rem;
}
footer .left, footer .right {
  width: 25%;
}
footer .left .social-networks {
  text-align: left;
}
footer .left .social-networks div {
  background-color: #FFF;
  width: 40px;
  height: 40px;
  font-size: 20px;
}
footer .left .social-networks div a {
  color: #393939;
}
footer .left a {
  text-decoration: none;
}
footer .left a .link {
  margin: 1rem 0;
  color: #fff;
  text-decoration: none;
}
footer .left a .link svg {
  margin: 0 0.5rem;
}
footer .center {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
footer .center h3 {
  font-weight: lighter;
}
footer .right {
  text-align: right;
}
footer .right h6 {
  margin: 0.5rem 0;
  font-size: 14px;
}
footer .right h6, footer .right a {
  color: #fff;
}
footer .right div {
  text-align: right;
}
footer .right a {
  font-size: 12px;
}

nav {
  display: flex;
  height: 20%;
  justify-content: center;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline;
  margin: 0 10px;
}
nav ul li :hover {
  color: #D70030;
}
nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #000;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 800px;
  background-image: url("../img/banner.jpg");
  opacity: 0.8;
}
.banner div {
  text-align: center;
}
.banner div h2 {
  font-weight: lighter;
}

.big-card, .medium-card {
  display: flex;
  width: 650px;
  box-shadow: 2px 2px 2px #999;
}
.big-card .img-card, .medium-card .img-card {
  width: 30%;
  background-image: url("../img/card.png");
}
.big-card .information-card, .medium-card .information-card {
  width: 70%;
}
.big-card .information-card button, .medium-card .information-card button {
  font-weight: bold;
  color: #fff;
  background-color: #2374AB;
  border-radius: 8px;
  border-width: 0;
}

.big-card {
  height: 300px;
}
.big-card .information-card {
  padding: 1rem;
}
.big-card .information-card .text-card {
  height: 80%;
}
.big-card .information-card button {
  width: 100%;
  height: 40px;
}

.medium-card {
  height: 140px;
}
.medium-card .information-card {
  padding: 0.5rem;
}
.medium-card .information-card .text-card {
  font-size: 12px;
}
.medium-card .information-card button {
  width: 165px;
  height: 25px;
}

.event {
  margin: 1rem;
  width: 450px;
  height: 380px;
  border-radius: 10px;
  box-shadow: 0px 2px 0px #999;
  background-color: white;
}
.event .img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 200px;
  display: flex;
  justify-content: end;
  align-items: end;
}
.event .img .tag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 150px;
  background-color: #FF7474;
  color: #fff;
  font-weight: lighter;
  font-size: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.event .information {
  margin: 1rem;
  white-space: normal;
}
.event .information div {
  text-align: right;
}
.event .information div a {
  text-transform: uppercase;
  color: #D50000;
  text-decoration: none;
}

.note {
  display: block;
  margin: 1rem;
  padding: 0 1rem;
  max-width: 365px;
  width: 365px;
  height: 175px;
}

.blue-note {
  background-color: #EBF4FF;
}

.yellow-note {
  background-color: #FFFDEB;
}

.left-note {
  margin-left: 0;
}

.right-note {
  margin-right: 0;
}

/*# sourceMappingURL=main.css.map */
