
header{
	background-image: url('../img/header.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 1.5rem 1rem;
	//opacity: .9;
	height: 720px;
	.top{
		display: flex;
		.component{
			width: 100%;
			.social-networks{
				height: 70%;
				text-align: right;
				a{
					font-size: 20px;
					color: #393939;
					div{
						display: inline-flex;
						background-color: #FFF;
						border-radius: 25px;
						width: 40px;
						height: 40px;
						justify-content: center;
						align-items: center;
						margin: 0 5px;
					}
				}
			}
		}
	}
	.bottom{
		padding: 1rem;
		height: 500px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h1,h3{
			display: flex;
			color: #FFF;
		}
		div{max-width: 80%;}
	}
}

@media(max-width: 1200px){
	header{
		.social-networks,nav{display: none!important;}
		.logo{img{width: 175px;}}
		.component{align-items: center; display: flex; justify-content: flex-end;}
		.view-nav-mobile{
			display: inline-block!important;
			justify-content: end;
			a{
				color: #FFF;
				font-size: 50px;
			}
		}
		h1{font-size: calc(1.5em + 1vw); text-align: center;}
		h3{font-size: calc(.5em + 1vw);}
		nav{
			flex-direction: column;
		}
	}
}